.wrap{
  width: 1440px;
  margin: 0 auto;
}
.h1{
  font-size: 40px
}
.h2{
  font-size: 28px
}
.h3{
  font-size: 20px;
  font-weight: bold;
}
.h4{

}
.h5{

}
.h6{

}
.p{
  font-size: 16px
}
.block{
  display: block;
}
.bold{
  font-weight: 700;
}
.paddingT50{
  padding-top: 50px;
}
.paddingB50{
  padding-bottom: 50px;
}
.marginB30{
  margin-bottom: 30px;
}
.current{
  background-color: #333 !important;
  color:#fff !important;
}
.flex{
  display: flex;
}
.hide{
  display: none;
}